<div class="container d-flex flex-column align-items-center text-center p-5">
  <div class="p-5">
    <h3 class="mb-3">送信が完了しました。</h3>
    <h5 class="mt-5">
      お返事に２〜3日程度お時間をいただく場合がございます。<br>
      あらかじめご了承をお願い申し上げます。
    </h5>
    <%= link_to 'top', root_path, class: "btn btn-primary btn-xl py-1 mt-5" %>
  </div>
</div>