<div class="container bg-orange mx-auto">
  <h2 class="mt-3 text-center">グループ編集</h2>
  <div class="heading-line"></div>
  <div class="row m-3">
    <div class="col">
      <%= render 'layouts/errors', obj: @group %>
      <%= render 'form', group: @group %>
    </div>
  </div>
</div>
