<div class="container">
  <h2 class="m-3">グループ作成フォーム</h2>
  <div class="row">
    <div class="col">
      <%= render 'layouts/errors', obj: @group %>
      <%= render 'form' ,group: @group %>
    </div>
  </div>
</div>
