<!--# Button trigger modal-->
  <%= link_to "#newpostModal",class: "btn btn-outline-secondary", data: {toggle: "modal"} do %>
    <i class="fa-solid fa-square-plus"></i> 新しい投稿を作成する</i>
  <% end %>  
  <!--# Modal-->
  <div class="modal fade" id="newpostModal" tabindex="-1" role="dialog" aria-labelledby="newpostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newpostModalLabel">新規投稿作成</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'public/posts/form_modal', post: @post, tags: @tags %>
        </div>
      </div>
    </div>
  </div>