<div class="container text-ceter p-3">
  <h2>タグが"<%= @tag.name %>"の投稿</h2>
  <div class="heading-line"></div>
  <div class="row">
    <div class="col">
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>