<div class="container">
  <div class="row d-column">
    <h2 class="m-3 text-centetr">フォロワー一覧</h2>
    <div class="heading-line"></div>
    <%= render "public/users/index" ,users: @users %>
  </div>
</div>


