<div class="container">
  <h2>チャットルーム</h2>
  <div class="row">
    <div class="col">
      <div id='messages' data-room_id="<%= @room.id %>">
        <%= render "public/messages/messages", collection: @messages %>
      </div>
      <form>
        <%= label_tag :content, 'Say something:' %>
        <input type="text" data-behavior="room_speaker">
      </form>
    </div>
  </div>
</div>
