<div class="container">
  <h1>要検討</h1>
  <div class="row">
    <div class="col-12">
      <div class="container m-3">
        <div class="top_slide text-center">
          <ul class="p-0 slider">
            <li class="slider-item slider-item01"></li>
            <li class="slider-item slider-item02"></li>
            <li class="slider-item slider-item03"></li>
          </ul>
        
          <p class="top_text">
            <span>旅行ルート共有コミュニティサイト</span><br>
            旅行に行く際に意外と行く前に参考にしたい情報って多くないですか...？<br>
            色々なサイトで探して管理するのに面倒に感じる。<br>
            そんな時にうってつけなサービスです！
          </p>
        </div>
      
        <script>
          $('.slider').slick({
          autoplay: true,
          autoplaySpeed: 3000,
          speed: 1500,
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
          dots: true,
          });
        </script>
      </div>

    </div>
  </div>
</div>


