<div class="container">
  <div class="row">
    <div class="col-xl-12 col-md-12">
      <div class="container m-3">
        <div class="main-visual">
        </div>
      </div>
    </div>  
  </div>
  <div class="row d-flex justify-content-center align-items-center mt-3">
    <div class="container">
      <div class="row justify-content-center">
        <!--右側-->
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
          <h4 class="m-3">-みんなの旅行計画を見てみませんか？</h4>
          <p class="text-center">
            旅行の計画を立てることができて、他のユーザーと共有することができる<strong>「シェアトリ」</strong><br>
            使用方法はシンプルであなたの旅行計画の手助けをします。
          </p>
        </div>
        <!--左側-->
        <div class="col-md-5 ml-3">
          <div class="row d-flex flex-wrap">
            <div class="col-md-6">
              <div class="card mt-1 top-card">
                <div class="text-center mt-2 mb-0" style="font-size: 40px;"> 
                  <i class="fa-solid fa-thumbs-up"></i>
                </div>
                <div class="card-body py-1">
                  <h5 class="card-title text-center">無料</h5>
                  <p class="card-text text-center">会員登録すると無料で全ての機能を使用することができます。</p>
                </div>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="card mt-1 top-card">
                <div class="text-center mt-2 mb-0" style="font-size: 40px;"> 
                  <i class="fa-solid fa-exclamation"></i>
                </div>
                <div class="card-body py-1">
                  <h5 class="card-title text-center">わかりやすい</h5>
                  <p class="card-text text-center">複雑な操作はありません</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mt-1 top-card">
                <div class="text-center mt-2 mb-0" style="font-size: 40px;"> 
                  <i class="fa-solid fa-bars"></i>
                </div>
                <div class="card-body py-1">
                  <h5 class="card-title text-center">複数の機能</h5>
                  <p class="card-text text-center">共有するだけではなく、実際の旅行に役立つ機能もあります。</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mt-1 top-card">
                <div class="text-center mt-2" style="font-size: 40px;"> 
                  <i class="fa-solid fa-mobile-screen-button"></i>
                </div>
                <div class="card-body py-1">
                  <h5 class="card-title text-center  mb-1">アプリ不要</h5>
                  <p class="card-text text-center">ブラウザがあればアプリの追加は不要です。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 d-grid mx-auto my-5 text-center">
      <%= link_to 'はじめてみる！', new_user_registration_path, class: "btn btn-info btn-lg" %>
    </div>
  </div>
</div>
