<div class="container">
  <div class="row">
    <div class="col-xl-12 col-md-12">
      <div class="container m-3">
        <div class="main-visual">
        </div>
      </div>
    </div>  
  </div>
  <div class="row d-flex justify-content-center align-items-center mt-3">
    <div class="container">
      <div class="row">
        <!--左側-->
        <div class="col-5">
          <div class="row d-flex flex-wrap">
            <div class="col-6">
              <div class="card mt-1">
                <div class="text-center" style="font-size: 50px;"> 
                  <i class="fa-solid fa-thumbs-up"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">無料</h5>
                  <p class="card-text text-center">会員登録すると無料で全ての機能を使用することができます。</p>
                </div>
              </div>
            </div>
            
            <div class="col-6">
              <div class="card mt-1">
                <div class="text-center" style="font-size: 50px;"> 
                  <i class="fa-solid fa-exclamation"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">わかりやすい</h5>
                  <p class="card-text text-center">複雑な操作はありません</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card mt-1">
                <div class="text-center" style="font-size: 50px;"> 
                  <i class="fa-solid fa-bars"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">複数の機能</h5>
                  <p class="card-text text-center">共有するだけではなく、実際の旅行に役立つ機能もあります。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--右側-->
        <div class="col-6 offset-1 d-flex flex-column align-items-center justify-content-center">
          <h4>-みんなの旅行計画を見てみませんか？</h4>
          <p class="text-center">
            旅行の計画を立てることができて、他のユーザーと共有することができる「シェアトリ」<br>
            使用方法はシンプルであなたの旅行計画の手助けをします。
          </p>
          
        </div>
      </div>
    </div>
  </div>
  
    

</div>
