<% if articles.present? %>
  <% articles.each do |article| %>
    <div class="card">
      <div class="card-body">
        <%= link_to article.link do %>
          <%= article.title %>
        <% end %>
        <%= link_to post_itinerary_article_path(post, itinerary, article), method: :delete ,remote: true, data: {"turbolinks" => false} do %>
          <i class="fa-solid fa-trash-can text-dark"></i>
        <% end %>  
      </div>
    </div>
    <% end %>
  <% else %>
  <% end %>