<div class="container">
  <h2 class="m-3 text-center">編集画面</h2>
  <div class="heading-line"></div>
  <%= render 'layouts/errors', obj: @itinerary %>
  <%= render 'form', post: @post, itinerary: @itinerary ,duration: @duration %>
</div>

