<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'index_bar', post: @post %>
    </div>
    <div class="col-md-7 offset-md-">
        <div class="row text-center m-3">
          <h2>投稿詳細</h2>
          <div class="heading-line-admin "></div>
        </div>
      <div class="row mt-3">
        <% if @itineraries.present? %>
          <%= render 'public/itineraries/index', post: @post, itineraries: @itineraries %>
        <% else %>
          <div class="bg-orange">
            <p class="fw-bold text-center m-5">旅程はありません</p>
          </div>
        <% end %>  
      </div>
    </div>
  </div>
</div>
