<div class="container">
  <h2 class="m-3 text-center">グループ一覧</h2>
  <div class="heading-line-admin"></div>
  <div class="row">
    <div class="col">
      <%= render 'index', groups: @groups %>
    </div>
  </div>
</div>